/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.welcomeBody{
    background: rgb(236, 224, 224);
    text-align: center;
    padding: 10px;
}
.cardBody{
    width: 18rem;
}
.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer{
    background: rgb(236, 224, 224);
    text-align: center;
    padding: 10px;
}
